<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michael Corcoran CV</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <script src="http://127.0.0.1:5000/a.js" type="text/javascript"></script>
    <!-- <script src="../static/stye/script.js" defer></script> -->
</head>
<body>
    <div id="header">
        <div id="hleft">
            <div id="links">
                <p>Links to profiles</p>
                <div class="section1">
                    <a href="https://www.linkedin.com/in/michael-corcoran909/"><img src="../static/linkedin.png" style="width:38px"></a>
                    <a href="https://github.com/Cleon909"><img src="../static/github.png" style="background-color: white;"></a>
                </div>
            </div>
        </div>
        <div id="hcenter">
            <h1>Michael Corcoran</h1>
            <h4>0785 902 4992   ●  Manchester, UK   ●   corcoran909@gmail.com</h4>
        </div>
        <div id="hright">
            <p>Number of views:<span id="cntr">0</span></p>
        </div>
    </div>
    <div id="container">
        <div id="left">
        </div>
        <div id="center">
            <p class="section">Experience</p>
            <div class="title">
                <p class="section1">QA - Dev Ops and Digital Skills Bootcamp (Level 4)</p>
                <p class="date">2022</p>
            </div>    
            <div class="title">
                    <p class="section1">Senior Account Executive - moneycorp</p><p class="date">2019-2020</p>
                </div>
                <p>Working as a regulated person (CF30) in a regional team in a Business 2 Business Foreign Exchange Sales role to find and attract new clients. Covering the whole of the North of England with an emphasis on the North West, and focusing on mid to large corporate clients. Represented moneycorp in regional and international events and trade fairs. Worked in a close knit team helping peers with procedure and workload while also mentoring junior staff who were new to markets and regulated environments. </p>
                <div class="title">
                    <p class="section1">Barclays Bank - AVP Currency Corporate Sales</p>
                    <p class="date">2010 - 2019</p>
                </div>
                <ul>
                    <li>Recognised as the main point of contact for large corporate FX teams in the north. Directly responsible for the coverage of a multi-million income portfolio of corporate clients of various sectors and of various sizes.</li>
                    <li>Priced, sold and executed complex financial instruments managing multiple market risks under time pressure.</li>
                    <li>Co-ordinated with numerous stakeholders to ensure trade with clients were within company guidelines and approach.</li>
                </ul>
            <div class="title">
                <p class="section1">National Australia Bank - Partner Treasury Sales</p> 
                <p class="date">2008-2010</p>
            </div>
                <ul>
                    <li>Sole responsibility for FX Product and coverage for Yorkshire Bank, working with the Treasury Partner for each region to meet targets and sell derivative solutions.</li>
                    <li>Produced and disseminated market information to clients and internal stakeholders.</li>
                    <li>Responsible for the management for two associates who covered FX and Interest Rate products.</li>
                </ul>
                <div class="title">
                    <p class="section1">Associate Treasury Sales</p>
                    <p class="date">2006 - 2008</p>
                </div>
                <ul>
                    <li>Helped with the executing, booking and pricing of FX and interest rate derivatives </li>
                    <li>Restructured loans with embedded derivatives </li>
                    <li>Traded Spot and Forward FX with SME and corporate clients.</li>
                </ul>
                <div class="title">
                    <p class="section1">Service Officer</p>
                    <p class="date">2001 - 2006</p>
                </div>
            <ul>
                <li>Administration and settlement of loans with embedded derivatives, in this role I helped design, user test, and administer a web based system to track and settle the loans.</li>
            </ul>
            
        </div>
    
        <div id="right">
            
            <h3>Education and Qualifications</h3>
            <div class="title1">
                <p>QA Dev Ops Bootcamp</p>
                <p class="date">2022</p>
            </div>
            <div class="title1">    
                <p> Azure AZ-900  <a href="https://www.credly.com/badges/6649f1f1-67be-449e-af15-383bcdfac1d8/public_url"><img src="../static/microsoft-certified-azure-fundamentals.png" alt="az-900 badge" height="20px"></a></p>
                <p class="date">2022</p>
            </div>
            <div class="title1">
                <p>ACI Dealing Certificate - distinction</p>
                <p class="date">2006</p>
            </div>
            <div class="title1">
                <p>Chartered Institute for Securities and Investment:</p>
                <p class="date">2010/2006</p>
            </div>
                <ul id="ul">       
                    <li><a href=" {{ url_for('regs') }}">FSA Financial Regulation</a></li>
                    <li><a href=" {{ url_for('secs') }}">Securities</a></li>
                    <li><a href=" {{ url_for('derivs') }}">Derivatives</a></li>
                </ul>
            <div class="title1">
                <p>University of Bradford - Peace Studies</p>
                <p class="date">1998</p>
            </div>
            <div>
                <p class="section1">Technical Skills (beginner)</p>
                <ul>
                    <li>Basic Python</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Jenkins</li>
                    <li>Docker</li>
                    <li>Azure</li>
                    <li>Dev Ops</li>
                    <li>MYSQL</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>